h1 {
    color: red;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
h3 {
    color: blue;
    font-size: 20px;
}
article:nth-child(2) p, article:nth-child(3) p {
background-color: grey;
}
strong {
    font-weight: normal;
    color: greenyellow;
}
em {
    font-weight: normal;
    text-decoration: underline;
    font-size: larger;
    color: orange;
}
article:nth-child(4) p {
    background-color: pink;
}
article:nth-child(3) h3 {
    color: green;
    text-align: right;
    text-decoration: underline;
}